.section-container {
    display: flex;
}

/* subsection margin */
.sm {
    margin: 1em;
}

.section-sub {
    flex-grow: 1;
}

.s2 {

}

.about {
    /*background-color: var(--color3);*/
    background: black;
}

.about h1{
    color: var(--bg);
}

.about h2{
    color: var(--color2);
}

.about p{
    color: white;
}

.blue {
    color: var(--color2);
    font-family: 'Comfortaa', cursive;
}

.bold-white {
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
}

.gradient3{
    background: linear-gradient(to right bottom, var(--color3) 50%, white 50%);
    min-height: 10vh;
}

.circular-image {
    border-radius: 50%;
    width: 20em;
    height: 20em;
    border: 2px solid var(--color2);
}

@media only screen and (max-width: 1000px) {
    .section-container {
        display: block;
    }

    .circular-image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        max-height: 300px;
        max-width: 300px;
        border: 2px solid var(--color2);
    }
    .sm {
        margin: 0em;
    }
}