.gradient1{
    background: linear-gradient(to left bottom, var(--color2) 50%, var(--color3) 50%);
    min-height: 10vh;
}

.scroll {
    position: relative;
    top: 20vh;
    font-size: 0.933rem;
    color: lightgray;
    text-decoration: none;
    padding: 10px 10px 10px 40px;
}
.scroll:before {
     position: absolute;
     top:-2px;
     left:0;
     width: 22px;
     height: 40px;
     border: 2px solid lightgray;
     border-radius: 12px;
     content:"";
 }
.scroll:after {
     position: absolute;
     top:9px;
     left:12px;
     width: 2px;
     height: 8px;
     background: lightgray;
     border-radius: 1px;
     content:"";
     animation-name: scroll;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-delay: 2s;
 }

@keyframes scroll {
    0% { opacity: 1; height: 8px;}
    20% { opacity: 1; height: 8px;}
    30% { transform: translateY(0); opacity: 1; height: 19px;}
    40% { opacity: 1;}
    80% { transform: translateY(19px); opacity: 0; height: 0;}
    81% { transform: translateY(0); opacity: 0; height: 8px;}
    100% { opacity: 1; height: 8px;}
}